.main-menu {
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: transparent;
  width: 100%;
  padding: 0;
}

.main-menu .main-list {
  flex: 1;
  text-align: center;
  position: relative;
}

.main-menu .main-list a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-weight: bold;
  position: relative;
}

.main-menu .show-arrow a::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  right: 0;
  top: 7px;
  background-image: url('../../assets/img/icons/arrow-down.png');
  background-repeat: no-repeat;
  background-position: right 1px bottom 0;
}

.main-menu .show-arrow a:hover::after {
  background-image: url('../../assets/img/icons/arrow-down-color.png');
}

.main-menu .main-list:hover > a {
  color: #b01ba5;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: #000;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 170px;
  border-radius: 5px;
}

.sub-menu .sub-list {
  border-bottom: 1px solid #444;
}

.sub-menu .sub-list:last-child {
  border-bottom: none;
}

.sub-menu .sub-list:hover > a {
  color: #b01ba5;
}

.sub-menu .sub-list a {
  padding: 10px;
  display: block;
  color: #000;
}

.sub-menu .sub-list a::before,
.sub-menu .sub-list a::after {
  content: none;
}

@media (min-width: 1281px) {
  .main-menu .main-list {
    max-width: 100px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .main-menu .main-list {
    max-width: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-menu .main-list {
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .main-menu {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .main-menu .main-list {
    max-width: 100px;
  }

  .sub-menu {
    position: absolute;
    top: 0;
    top: 0;
    left: 100%;
    bottom: 100%;
  }

  .sub-menu .sub-list {
    border-bottom: 1px solid #444;
    border-radius: 5px;
    background: #fff;
    color: #fff;
  }
}
