.tw-item {
  margin-bottom: 20px;
}

.tw-item .tw-thumb {
  float: left;
  margin-right: 17px;
  overflow: hidden;
}

.tw-item .tw-thumb img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.tw-item .tw-text .tw-meta {
  color: #68647d;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 7px;
}

.tw-item .tw-text .tw-meta a {
  color: #b01ba5;
  text-decoration: none;
  background: transparent;
}

.tw-item .tw-text h5 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
