.big-blog-item {
  margin-bottom: 60px;
  padding-right: 30px;
}

.big-blog-item .blog-thumbnail {
  margin-bottom: 30px;
  user-select: none;
}

.big-blog-item img {
  max-width: 100%;
  border-style: none;
  vertical-align: middle;
}

.big-blog-item .blog-content {
  color: #fff;
}

.big-blog-item .blog-content .top-meta {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 15px;
}

.big-blog-item .blog-content .top-meta a {
  color: #b01ba5;
  text-decoration: none;
}

.big-blog-item .blog-content h3 {
  max-width: 100%;
  margin-bottom: 25px;
}

.big-blog-item .blog-content p {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #68647d;
}

.big-blog-item .blog-content .read-more {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  text-decoration: none;
}

.big-blog-item .blog-content .read-more img {
  margin-left: 13px;
}
