.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(8, 22, 36, 255);
  padding: 0 40px;
  box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
  border-radius: 5px;
  height: 100px;
}

.site-logo {
  float: left;
  width: 150px;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  margin-top: 5px;
}

.site-logo img {
  width: 100%;
  vertical-align: middle;
}

.top-nav-area {
  display: flex;
  width: 100%;
}

.user-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding-top: 0;
  width: 70px;
}

.user-panel a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.user-panel:hover span,
.user-panel:hover a {
  color: #b01ba5;
}

.user-panel .username {
  cursor: pointer;
}

.drop-down {
  position: absolute;
  top: 100%;
  right: 40px;
  background: #222;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.user-panel:hover .drop-down {
  display: block;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
