.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(8, 22, 36, 255);
  padding: 0 40px;
  box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
  border-radius: 5px;
  height: 100px;
  position: relative;
}

.navbar .site-logo {
  float: left;
  width: 150px;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  margin-top: 5px;
}

.navbar .site-logo img {
  width: 100%;
  vertical-align: middle;
}

.navbar .top-nav-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar .main-menu-container {
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.navbar .user-panel {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding-top: 0;
  min-width: 150px;
}

.navbar .user-panel a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar .user-panel:hover span,
.navbar .user-panel:hover a {
  color: #b01ba5;
}

.navbar .user-panel .username {
  cursor: pointer;
}

.navbar .drop-down {
  position: absolute;
  top: 85%;
  right: 40px;
  background: #222;
  padding: 10px;
  border-radius: 5px;
}

.navbar .drop-down button {
  color: #fff;
  font-size: 18px;
  background: #222;
  border: none;
  cursor: pointer;
}

.navbar .drop-down button:hover {
  color: #b01ba5;
}

.navbar .user-panel:hover .drop-down {
  display: block;
}

.navbar .menu-toggle-container {
  display: none;
}

.navbar .menu-toggle-container .menu-toggle {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background: #3a3a3a;
  color: #fff;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 70px;
  cursor: pointer;
}

.navbar .menu-toggle-container .mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: rgba(8, 22, 36, 255);
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
}

.navbar .mobile-menu.show-menu {
  display: block;
}

@media (max-width: 576px) {
  .navbar .main-menu-container {
    display: none;
  }

  .navbar .top-nav-area {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  .navbar .drop-down {
    position: absolute;
    top: 85%;
    right: 20%;
    background: #222;
    padding: 10px;
    border-radius: 5px;
  }

  .navbar .menu-toggle-container {
    display: flex;
    right: 30px;
    bottom: 2px;
    padding-left: 10px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .navbar .main-menu-container {
    display: none;
  }

  .navbar .top-nav-area {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  .navbar .drop-down {
    position: absolute;
    top: 85%;
    right: 16%;
    background: #222;
    padding: 10px;
    border-radius: 5px;
  }

  .navbar .menu-toggle-container {
    display: flex;
    right: 30px;
    bottom: 2px;
    padding-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar .site-logo {
    display: none;
  }
}
