.blog-section {
  background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
  padding: 100px 0;
}

.blog-section .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1175px;
}

.blog-section .row {
  display: flex;
}

.blog-section .col-1 .section-title h2 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
}

.blog-section .col-1 .blog-item {
  margin-top: 50px;
}

.blog-section .col-2 .add {
  text-decoration: none;
}

.blog-section .col-2 .add img {
  width: 100%;
}

@media (max-width: 767px) {
  .blog-section .container {
    max-width: 720px;
    display: flex;
    flex-direction: column;
  }

  .blog-section .container .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .blog-section .col-1 {
    max-width: 100%;
  }
  .blog-section .col-2 {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .blog-section .container {
    max-width: 720px;
  }

  .blog-section .col-1 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .blog-section .col-2 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .blog-section .container {
    max-width: 960px;
  }

  .blog-section .col-1 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .blog-section .col-2 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@media (min-width: 1281px) {
  .blog-section .container {
    max-width: 1175px;
  }

  .blog-section .col-1 {
    flex: 0 0 75%;
  }
  .blog-section .col-2 {
    flex: 0 0 25%;
  }
}
