.site-pagination {
  display: flex;
}

.site-pagination .pagination-item {
  height: 44px;
  width: 38px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.site-pagination .pagination-item:hover {
  background: #f3e6fa;
  color: #b01ba5;
}

.site-pagination .pagination-item.selected {
  margin-left: 0;
  margin: 0 10px;
  color: #b01ba5;
  background: #f3e6fa;
  border: 2px solid #b01ba5;
  width: 44px;
}
