.news-detail {
  padding: 104px 0;
  background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
}

.news-detail .container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.news-detail .row {
  display: flex;
  flex-wrap: wrap;
}

.news-detail .row .col-1 {
  position: relative;
  width: 100%;
}

.news-detail .row .col-1 h1 {
  margin-top: 0;
  padding-right: 20px;
  font-size: 36px;
  color: #fff;
}

.news-detail .row .col-1 h4 {
  color: #b01ba5;
  font-size: 24px;
  padding-right: 20px;
}

.news-detail .row .col-1 h3 {
  color: #b01ba5;
}

.news-detail .row .col-1 p {
  color: #68647d;
  padding-right: 20px;
  line-height: 1.8;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news-detail .container {
    max-width: 720px;
  }

  .news-detail .row .col-1 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .news-detail .row .col-2 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1025px) {
  .news-detail .container {
    max-width: 960px;
  }

  .news-detail .row .col-1 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .news-detail .row .col-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
